{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seneca | Soluções Educacionais</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img src="https://trello-attachments.s3.amazonaws.com/5bcbd08141242958eda62dcc/5bcc64127969e47a639d5918/fc0f69ac18f5563f58ace7cacd1e5f25/Logo3.png" 
          alt="" style="width: 165px; height: 70px;">
        </a>
        <button class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#busca">Busca</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/index">Inicio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Seneca - Soluções Educacionais</h1>
        <p class="lead">
          Nós otimizamos o trabalho do professor na geração de provas e relatórios de desempenho, <br>
          desenvolvendo um sistema que diminui o esforço dele e da instituição de ensino.
        </p>
      </div>
    </header>

    <section id="busca">
      <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
              <div class="card-deck" >
                <div class="card" style="background-color: #c07e33;">
                  <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">
                        <b>Cidade:</b>
                        </label>
                        <select class="form-control" 
                        id="exampleFormControlSelect1"
                        onchange="location = this.value;">
                            <option>SELECIONE A CIDADE...</option>
                            <option value="http://127.0.0.1:8000/cidade/">
                                Ribeirão Preto
                            </option>
                        </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>

    

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Seneca 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

  </body>

</html>
